<!Doctype html>
<html>
<head>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="css/normalize.css" rel="stylesheet"type="text/css">
  <title>Welcome to The Amazing-Maze-Maze</title>
 </head>
<body>
  <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="js/interface.js"></script> 

  <script type="text/javascript">
  $(document).ready(function () {

     
 });
  </script>   
</body>
</html>
