<!Doctype html>

<html>
<head>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="css/normalize.css" rel="stylesheet"type="text/css">
  <title>Welcome to The Amazing-Maze-Maze</title>
 </head>
<body>

<style>
  td { width: 1em; height: 1em; line-height: 1 }
</style>

  <div class="grid-maze">
    <div class="row">
      <div class="row1">
         <div class="cell" id="a1" type="text">a1</div>
       </div>
       <div class="row1">
         <div class="cell" id="a2" class="" value="">a2</div>
       </div>
       <div class="row1">
         <div class="cell">a3</div>
       </div>
       <div class="row1">
         <div class="cell">a4</div>
       </div>
       <div class="row1">
         <div class="cell">a5</div>
       </div>
       <div class="row1">
         <div class="cell">a6</div>
       </div>
       <div class="row1">
         <div class="cell">a7</div>
       </div>
       <div class="row1">
         <div class="cell">a8</div>
       </div>
       <div class="row1">
         <div class="cell">a9</div>
       </div>
       <div class="row1">
         <div class="cell">a10</div>
       </div>
     </div>
     <div class="row">
       <div class="row1">
         <div class="cell">b1</div>
       </div>
       <div class="row1">
         <div class="cell">b2</div>
       </div>
       <div class="row1">
         <div class="cell">b3</div>
       </div>
       <div class="row1">
         <div class="cell">b4</div>
       </div>
       <div class="row1">
         <div class="cell">b5</div>
       </div>
       <div class="row1">
         <div class="cell">b6</div>
       </div>
       <div class="row1">
         <div class="cell">b7</div>
       </div>
       <div class="row1">
         <div class="cell">b8</div>
       </div>
       <div class="row1">
         <div class="cell">b9</div>
       </div>
       <div class="row1">
         <div class="cell">b10</div>
       </div>
     </div>
     <div class="row">
       <div class="row1">
         <div class="cell">c1</div>
       </div>
       <div class="row1">
         <div class="cell">c2</div>
       </div>
       <div class="row1">
         <div class="cell">c3</div>
       </div>
       <div class="row1">
         <div class="cell">c4</div>
       </div>
       <div class="row1">
         <div class="cell">c5</div>
       </div>
       <div class="row1">
         <div class="rcell">c6</div>
       </div>
       <div class="row1">
         <div class="cell">c7</div>
       </div>
       <div class="row1">
         <div class="cell">c8</div>
       </div>
       <div class="row1">
         <div class="cell">c9</div>
       </div>
       <div class="row1">
         <div class="cell">c10</div>
       </div>
     </div>
   <div class="row">
       <div class="row1">
         <div class="cell">d1</div>
       </div>
       <div class="row1">
         <div class="cell">d2</div>
       </div>
       <div class="row1">
         <div class="cell">d3</div>
       </div>
       <div class="row1">
         <div class="cell">d4</div>
       </div>
       <div class="row1">
         <div class="cell">d5</div>
       </div>
       <div class="row1">
         <div class="rcell">d6</div>
       </div>
       <div class="row1">
         <div class="cell">d7</div>
       </div>
       <div class="row1">
         <div class="cell">d8</div>
       </div>
       <div class="row1">
         <div class="cell">d9</div>
       </div>
       <div class="row1">
         <div class="cell">d10</div>
       </div>
     </div>
   <div class="row">
       <div class="row1">
         <div class="cell">e1</div>
       </div>
       <div class="row1">
         <div class="cell">e2</div>
       </div>
       <div class="row1">
         <div class="cell">e3</div>
       </div>
       <div class="row1">
         <div class="cell">e4</div>
       </div>
       <div class="row1">
         <div class="cell">e5</div>
       </div>
       <div class="row1">
         <div class="rcell">e6</div>
       </div>
       <div class="row1">
         <div class="cell">e7</div>
       </div>
       <div class="row1">
         <div class="cell">e8</div>
       </div>
       <div class="row1">
         <div class="cell">e9</div>
       </div>
       <div class="row1">
         <div class="cell">e10</div>
       </div>
     </div>
     <div class="row">
       <div class="row1">
         <div class="cell">f1</div>
       </div>
       <div class="row1">
         <div class="cell">f2</div>
       </div>
       <div class="row1">
         <div class="cell">f3</div>
       </div>
       <div class="row1">
         <div class="cell">f4</div>
       </div>
       <div class="row1">
         <div class="cell">f5</div>
       </div>
       <div class="row1">
         <div class="rcell">f6</div>
       </div>
       <div class="row1">
         <div class="cell">f7</div>
       </div>
       <div class="row1">
         <div class="cell">f8</div>
       </div>
       <div class="row1">
         <div class="cell">f9</div>
       </div>
       <div class="row1">
         <div class="cell">f10</div>
       </div>
     </div>
      <div class="row">
       <div class="row1">
         <div class="cell">g1</div>
       </div>
       <div class="row1">
         <div class="cell">g2</div>
       </div>
       <div class="row1">
         <div class="cell">g3</div>
       </div>
       <div class="row1">
         <div class="cell">g4</div>
       </div>
       <div class="row1">
         <div class="cell">g5</div>
       </div>
       <div class="row1">
         <div class="rcell">g6</div>
       </div>
       <div class="row1">
         <div class="cell">g7</div>
       </div>
       <div class="row1">
         <div class="cell">g8</div>
       </div>
       <div class="row1">
         <div class="cell">g9</div>
       </div>
       <div class="row1">
         <div class="cell">g10</div>
       </div>
     </div>
      <div class="row">
       <div class="row1">
         <div class="cell">h1</div>
       </div>
       <div class="row1">
         <div class="cell">h2</div>
       </div>
       <div class="row1">
         <div class="cell">h3</div>
       </div>
       <div class="row1">
         <div class="cell">h4</div>
       </div>
       <div class="row1">
         <div class="cell">h5</div>
       </div>
       <div class="row1">
         <div class="rcell">h6</div>
       </div>
       <div class="row1">
         <div class="cell">h7</div>
       </div>
       <div class="row1">
         <div class="cell">h8</div>
       </div>
       <div class="row1">
         <div class="cell">h9</div>
       </div>
       <div class="row1">
         <div class="cell">h10</div>
       </div>
     </div>
      <div class="row">
       <div class="row1">
         <div class="cell">i1</div>
       </div>
       <div class="row1">
         <div class="cell">i2</div>
       </div>
       <div class="row1">
         <div class="cell">i3</div>
       </div>
       <div class="row1">
         <div class="cell">i4</div>
       </div>
       <div class="row1">
         <div class="cell">i5</div>
       </div>
       <div class="row1">
         <div class="rcell">i6</div>
       </div>
       <div class="row1">
         <div class="cell">i7</div>
       </div>
       <div class="row1">
         <div class="cell">i8</div>
       </div>
       <div class="row1">
         <div class="cell">i9</div>
       </div>
       <div class="row1">
         <div class="cell">i10</div>
       </div>
     </div>
      <div class="row">
       <div class="row1">
         <div class="cell">j1</div>
       </div>
       <div class="row1">
         <div class="cell">j2</div>
       </div>
       <div class="row1">
         <div class="cell">j3</div>
       </div>
       <div class="row1">
         <div class="cell">j4</div>
       </div>
       <div class="row1">
         <div class="cell">j5</div>
       </div>
       <div class="row1">
         <div class="rcell">j6</div>
       </div>
       <div class="row1">
         <div class="cell">j7</div>
       </div>
       <div class="row1">
         <div class="cell">j8</div>
       </div>
       <div class="row1">
         <div class="cell">j9</div>
       </div>
       <div class="row1">
         <div class="cell">j10</div>
       </div>
     </div>

  <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="js/interface.js"></script> 
  <script src="js/grid.js"></script>
  <script src="js/player.js"></script>

  <script type="text/javascript">

  var player = new Player();
  var grid = new Grid();
  var position = { x: 0, y: 0 };
  var mazeGame = [];

$(document).ready(function () {
    $('.row').each(function () {
        mazeGame.push([]);
        $('.row1', this).each(function () {
            mazeGame[mazeGame.length - 1].push($(this));
        });
    });
    highlightCell();
});

$(window).on('keydown', function (e) {
    if (e.keyCode === 37) // left
        moveLeft();
    else if (e.keyCode === 38) // up
        moveUp();
    else if (e.keyCode === 39) // right
        moveRight();
    else if (e.keyCode === 40) // down
        moveDown();
     highlightCell();
});


function moveLeft() {
	  player.moveLeft();
    if (player.able === true)
      position.x--;
      if (position.x < 0)
        position.x = 0;      
}

function moveUp() {
	player.moveUp()
    if (player.able === true)
      position.y--;
      if (position.y < 0)
        position.y = 0;
}

function moveRight() {
	player.moveRight()
    if (player.able === true)
      position.x++;
      if (position.x >= mazeGame[0].length)
        position.x = mazeGame[0].length - 1;      
}

function moveDown() {
	player.moveDown()
	if (player.able === true)
      position.y++;
      if (position.y >= mazeGame.length)
        position.y = mazeGame.length - 1;
}

function highlightCell() {
    $('.row1').removeClass('selected');
    mazeGame[position.y][position.x].addClass('selected');
    console.log(player.place)
}

  </script>   
</body>
</html>
