
  <div class="grid-maze">
    <div class="row">
      <div class="row1">
         <div class="cell" id="a1" type="text"></div>
       </div>
       <div class="row1">
         <div class="cell" id="a2" class="" value=""></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>
     <div class="row">
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>
     <div class="row">
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="rcell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>
   <div class="row">
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="rcell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>
   <div class="row">
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="rcell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>
     <div class="row">
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="rcell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>
      <div class="row">
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="rcell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>
      <div class="row">
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="rcell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>
      <div class="row">
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="rcell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>
      <div class="row">
       <div class="row1 win">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="rcell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
       <div class="row1">
         <div class="cell"></div>
       </div>
     </div>

  <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="js/interface.js"></script> 
  <script src="js/grid.js"></script>
  <script src="js/player.js"></script>

</body>
</html>
