<!Doctype html>

<html>
<head>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="css/normalize.css" rel="stylesheet"type="text/css">
  <title>Welcome to The Amazing-Maze-Maze</title>
 </head>
<body>

<style>
  td { width: 1em; height: 1em; line-height: 1 }
</style>
<%- body %>
 <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="js/interface.js"></script> 
  <script src="js/grid.js"></script>
  <script src="js/player.js"></script>

  <script type="text/javascript">

  var player = new Player();
  var grid = new Grid();
  var position = { x: 0, y: 0 };
  var mazeGame = [];

$(document).ready(function () {
    $('.row').each(function () {
        mazeGame.push([]);
        $('.row1', this).each(function () {
            mazeGame[mazeGame.length - 1].push($(this));
        });
    });
    highlightCell();
});

$(window).on('keydown', function (e) {
    if (e.keyCode === 37)// left
        moveLeft();
    else if (e.keyCode === 38) // up
        moveUp();
    else if (e.keyCode === 39) // right
        moveRight();
    else if (e.keyCode === 40) // down
        moveDown();
     highlightCell();
     key();
});


  </script>   
</body>
</html>