.grid-maze {
    background: url(/images/maze2.jpg) 0 0 no-repeat;
    background-size:1040px 1040px;
    z-index: -2;
    width: 100%;
}

.row1.selected {
    background: url(/images/panda.jpg) 0 0 no-repeat;
    background-size:100px 100px;
    z-index: 30;
}
.row1 {
    position: relative;
    height: 100px;
    width: 100px;
    display: inline-block;
    z-index: -1;
}

.row1.win {
    background: url(/images/hut.gif) 0 0 no-repeat;
    background-size:100px 100px;
    z-index: 20;
}

.row1.key {
    background: url(http://i.istockimg.com/file_thumbview_approve/57595718/3/stock-illustration-57595718-key-cartoon.jpg) 0 0 no-repeat;
    background-size:85px 90px;
    z-index: 20;
}

